---
layout: default
title: Home
---

  <div class="posts">
    {% for post in paginator.posts %}
    <!-- Start post -->
      <h1 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <span class="post-date"><i class="fa fa-link"></i>ed on {{ post.date | date_to_string }}</span>
      <p>{{ post.description }}</p>
      {% if post.layout == "link" %}
      <span><i class="fa fa-comments-o icon-commentary"></i> Original link: <a href="{{ post.origlink }}">{{ post.origlink }}</a></span>
      {% endif %}
    <div class="post-closure"><i class="icon-closure fa fa-paper-plane-o"></i></div>
    <!-- End post -->
    {% endfor %}
  </div>
  <!-- Start pagination -->
  <div class="pagination">
    {% if paginator.next_page %}
      <a class="pagination-item older" href="{{ site.baseurl }}page/{{paginator.next_page}}"><i class="fa fa-chevron-circle-left"></i></a>
    {% else %}
      <span class="pagination-item older"><i class="fa fa-chevron-circle-left"></i></span>
    {% endif %}
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="pagination-item newer" href="{{ site.baseurl }}"><i class="fa fa-chevron-circle-right"></i></a>
      {% else %}
        <a class="pagination-item newer" href="{{ site.baseurl }}page/{{paginator.previous_page}}"><i class="fa fa-chevron-circle-right"></i></a>
      {% endif %}
    {% else %}
      <span class="pagination-item newer"><i class="fa fa-chevron-circle-right"></i></span>
    {% endif %}
  </div>
  <!-- End pagination -->