	<head>
		
		<meta charset="utf-8"> {% if page.url %}
		<link rel="canonical" href="{{ site.url }}{{ page.url }}" /> {% else %}
		<link rel="canonical" href="{{ site.url }}" /> {% endif %}

		<!-- Enable responsiveness on mobile devices-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

		<!-- Enable Graph API for Facebook integration -->
		<meta property="fb:app_id" content="{{ site.fb_app_id }}" />
		<meta property="og:site_name" content="{{ site.title }}" /> {% if page.url %}
		<meta property="og:url" content="{{ site.url }}{{ page.url }}" /> {% else %}
		<meta property="og:url" content="{{ site.url }}" /> {% endif %} {% if page.title %}
		<meta property="og:type" content="article" /> {% else %}
		<meta property="og:type" content="website" /> {% endif %} {% if page.title %}
		<meta property="og:title" content="{{ page.title }}" /> {% else %}
		<meta property="og:title" content="{{ site.title }}" /> {% endif %} {% if page.description %}
		<meta property="og:description" content="{{ page.description }}" /> {% else %}
		<meta property="og:description" content="{{ site.description }}" /> {% endif %}
		<meta property="og:image" content="{{ site.url }}/public/avatar.jpg" /> {% if page.date %}
		<meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
		<meta property="article:author" content="{{ site.url }}/about/"> {% endif %} {% if page.categories %} {% for category in page.categories limit:1 %}
		<meta property="article:section" content="{{ category }}"> {% endfor %} {% endif %} {% if page.tags %} {% for tag in page.tags %}
		<meta property="article:tag" content="{{ tag }}"> {% endfor %} {% endif %}
		
		<!-- Twitter Cards with Jekyll -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@{{ site.twitter_username }}">
		<meta name="twitter:creator" content="@{{ site.twitter_username }}"> {% if page.title %}
		<meta name="twitter:title" content="{{ page.title }}"> {% else %}
		<meta name="twitter:title" content="{{ site.title }}"> {% endif %} {% if page.url %}
		<meta name="twitter:url" content="{{ site.url }}{{ page.url }}"> {% endif %} {% if page.description %}
		<meta name="twitter:description" content="{{ page.description }}"> {% else %}
		<meta name="twitter:description" content="{{ site.description }}"> {% endif %}
		<meta name="twitter:image:src" content="{{ site.url }}/public/avatar250.png">
		<meta name="twitter:domain" content="{{ site.url }}">

		<title>
			{% if page.title == "Home" %} {{ site.title }} &middot; {{ site.tagline }} {% else %} {{ page.title }} &middot; {{ site.title }} {% endif %}
		</title>

		<!-- CSS -->
		<link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
		<link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
		<link rel="stylesheet" href="{{ site.baseurl }}public/css/personalize.css">
		<link rel="stylesheet" href="{{ site.baseurl }}public/font-awesome/css/font-awesome.min.css">

		<!-- Fonts -->
		<link href='https://fonts.googleapis.com/css?family=PT+Serif:400,700italic,700,400italic' rel='stylesheet' type='text/css' />
		<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css' />

		<!-- Icons -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-precomposed.png">
		<link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">

		<!-- Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-92157635-1', 'auto');
			ga('send', 'pageview');
		</script>

		<!-- RSS -->
		<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

		<!-- Add jQuery from Google Hosted Libraries -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<!-- Including AnchorJS -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.2/anchor.min.js"></script>

	</head>