<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it" lang="it">
	{% include head.html %}
	<body>
		<div class="container content">
			<div class="masthead">
				<h3 class="masthead-title">
				<img src="{{ site.baseurl }}public/avatar.jpg" title="{{ site.author.name }}">
				<a href="{{ site.baseurl }}" title="Home page">{{ site.title }}</a>
				<small>{{ site.tagline }}</small>
				</h3>
			</div>
			<div class="social-icons">
				<a href="{{ site.baseurl }}about/" title="About Me"><i class="fa fa-user-circle-o"></i></a>
				<a href="{{ site.baseurl }}archive/" title="Archivio"><i class="fa fa-archive"></i></a>
				<a href="https://github.com/{{ site.github_username }}/ama" title="Ask me something"><i class="fa fa-question-circle"></i></a>
			</div>
			<div class="site-info text-center">
					<form class="search-form" action="/search" method="get">
						Ricerca <input type="text" placeholder="Cerca →" name="query"> <i class="fa fa-search" aria-hidden="true"></i>
					</form>
			</div>
			<br />
			{{ content }}
			<div class="footer">
				<div class="social-icons">
					<a href="https://github.com/{{ site.github_username }}" title="GitHub - @{{ site.github_username }}"><i class="fa fa-github-square"></i></a>
					<a href="https://bitbucket.org/{{ site.bitbucket_username }}" title="Bitbucket - @{{ site.bitbucket_username }}"><i class="fa fa-bitbucket-square"></i></a>
					<a href="https://twitter.com/{{ site.twitter_username }}" title="Twitter - @{{ site.twitter_username }}"><i class="fa fa-twitter-square"></i></a>
					<a href="https://linkedin.com/in/{{ site.linkedin_username }}" title="LinkedIN - @{{ site.linkedin_username }}"><i class="fa fa-linkedin-square"></i></a>
					<a href="https://facebook.com/{{ site.facebook_username }}" title="Facebook - @{{ site.facebook_username }}"><i class="fa fa-facebook-square"></i></a>
					<a href="https://plus.google.com/+{{ site.google_plus_username }}" title="Google Plus - +{{ site.google_plus_username }}"><i class="fa fa-google-plus-square"></i></a>
					<a href="https://t.me/{{ site.telegram_username }}" title="Telegram - @{{ site.telegram_username }}"><i class="fa fa-telegram"></i></a>
				</div>
				<p>
					&copy; {{ site.title }} <br />
					Brought to you by {{ site.author.name }} <br />
					Hosted on <a href="{{ site.github.repo }}">GitHub</a>,
					made with ❤ and <a href="http://jekyllrb.com/">Jekyll</a><br />
					under <a href="{{ site.license.link }}">{{ site.license.label }}</a>.
				</p>
			</div>
		</div>

		<script>
		/**
		 * jQuery snippet to add anchor links to Markdown posts header
		 */
		$(function () {
		  'use strict';
		  /* selector */
		  var postHeader = 'h2, h3, h4';
		  $(postHeader).filter('[id]').each(function () {
		    var header      = $(this),
		        headerID    = header.attr('id'),
		        anchorClass = 'header-link',
		        anchorIcon  = '<i class="fa fa-link" aria-hidden="true"></i>';
		    if (headerID) {
		      header.prepend($('<a />').addClass(anchorClass).attr({ 'href': '#' + headerID, 'aria-hidden': 'true' }).html(anchorIcon));
		    }
		    return this;
		  });
		});
		</script>

	</body>
</html>