---
layout: default
---

	<div class="post">
		<h1 class="post-title">{{ page.title }}</h1>
		<span class="post-date"><i class="fa fa-link"></i>ed on {{ page.date | date_to_string }}</span>
		{{ content }}
	</div>

	{% include disqus.html %}
